body{
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#050505;
  color:#d84b4b;
  font-family:monospace;
  overflow:hidden;
}
.corrupted{
  color:#ff5555;
  font-size:24px;
  letter-spacing:3px;
}